proc normal {msg} {
    web::put "$msg<br>\n"
}   
web::command default {
    web::put "<a href=\"[web::cmdurl {} [list txt Hello]]\">again</a><br>\n"
    web::put "<pre>[web::decrypt [web::request QUERY_STRING]]</pre><br>\n"
}
web::logfilter add *.-debug
web::logdest   add *.-debug command normal
web::dispatch