# setup
web::filecounter idgen  -filename /tmp/SEQNR
web::filecontext mystate \
    -path /tmp/demo%s.dat \
    -idgen "idgen nextval" \
    -attachto sid
# helpers
proc input {name size} {
    return "<input type=\"text\" name=\"$name\" value=\"[web::formvar $name]\" size=\"$size\">"
}
proc submit {value} {
    return "<input type=\"submit\" value=\"$value\">"
}
proc form {action code} {
    web::put "<form method=\"POST\" action=\"$action\" enctype=\"multipart/form-data\">\n"
    uplevel $code
    web::put "</form>\n"
}
#
proc show {} {
    web::formvar -set customer [mystate::cget customer "n/a"]
    form [web::cmdurl save] {
        web::put "session id: [mystate::id]<br>"
        web::put [input customer 20]
        web::put [submit "save"]
    }
}
#
web::command default {
    mystate::init
    show
}
web::command save {
    mystate::init
    mystate::cset customer [web::formvar customer]
    mystate::commit
    show
}
web::dispatch -track sid
