body, p, td, th, h1, h2, h3, h4, h5 {font-size:24pt;font-family:Courier,monospace,sans-serif}
h1 {font-size:28pt;margin-top:12pt;margin-bottom:10pt;}
h2 {font-size:28pt;margin-top:12pt;margin-bottom:10pt;}
h3 {font-size:24pt;}
pre {font-size:18pt;}
.nav {font-size:20pt;}
