<html>
<head>
<title>&quot;Webshell Server Pages&quot;</title>
<link href="/samples.css" rel="styleSheet" type="text/css">
</head>
<body bgcolor="#ffffff">

<h1>Welcome to &quot;Webshell Server Pages&quot;</h1>

Local time is <%web::put [clock format [clock seconds]]%><br>

</body>
</html>
