body {
    font-family: Arial, sans-serif;
    font-style: normal;
    color: #000000;
    background-color: #FFFFFF;
}

p {
}

A:link { color: #cc3300 }
A:visited { color : #003399; }
A:hover {
    color : #ffffff ;
    background-color : #000000;
}

A:link, A:visited, A:active {
    text-decoration: none;
}

h1 {
    font-family: Arial, sans-serif;
    background-color: #405871;
    color: #cc3300;
}

h2 {
    font-family: Arial, sans-serif;
}

h3 {
    font-family: Arial, sans-serif;
}

b {
    font-weight: bold;
}

td {
    font-family: Arial, sans-serif;
    color: #000000;
    padding: 0.25em;
}

code {
     color: #006600;
}

table.main {
    width: 100%;
    font-size: smaller;
}

/*
table.lists td {
    font-size: smaller;
    background-color: #aaaaaa;
    padding: .5em;
}

table.lists th {
    text-align: left;
    font-size: smaller;
    background-color: #aaaaff;
    padding: .5em;
}
*/

table.nav {

}

table.nav td {
    font-weight: bold;
    padding: .3em;
}

li {
/*      font-size: smaller;  */
     margin-bottom: 0.5em;
}

blockquote {
    font-size: smaller;
    font-style: italic;
}

pre.code {
    padding: 1ex;
}

td.code {
    background-color: black;
    color: white;
    border: solid white 1em;
}

span.type {
    color: #4682b4;
} /* font-lock-type-face */
span.variable-name {
    color: #228b22;
} /* font-lock-variable-name-face */
span.comment {
    color: #ff7f24;
} /* font-lock-comment-face */
span.keyword {
    color: #00ffff;
} /* font-lock-keyword-face */
span.function-name {
    color: #87cefa;
} /* font-lock-function-name-face */
